<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Menu</title>
    <style>
      ul {
        list-style-type: none;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }

      li {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        margin: 10px 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }

      li p {
        margin: 5px 0;
        font-weight: bold;
        color: #333;
      }

      li span {
        color: #777;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <ul>
      {% for item in menu_items %}
      <li>
        <p>{{ item.name }} - ₹{{ item.price }}</p>
        <span>{{ item.description }}</span>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
